<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Latennte</title>
    {% block css %}
        <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
    {% endblock css %}
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.min.js" integrity="sha512-9DkJEmXbL/Tdj8b1SxJ4H2p3RCAXKsu8RqbznEjhFYw0cFIWlII+PnGDU2FX3keyE9Ev6eFaDPyEAyAL2cEX0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <header>
        <a href="/index.html">Late<span>nn</span>te</a>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        {% block footer %} {% endblock %}
    </footer>
    <!-- <section class="section">
        <div class="container">
        
        </div>
    </section> -->
</body>

</html>