{% extends "base.html" %}

{% block content %}
<!-- <h1 class="title">
  This is my blog made with Zola.
</h1> -->
<p>Bem-vindo ao meu blog pessoal.</p>

<h2>Ensaios</h2>

{% set section = get_section(path="ensaios/_index.md") %}
<ul>
  {% for page in section.pages %}
  	{% include "list-item.html" %}
  {% endfor %}
</ul>

<h2>Postagens</h2> 

{% set section = get_section(path="blog/_index.md") %}
<ul>
  {% for page in section.pages %}
	{% include "list-item.html" %}
  {% endfor %}
</ul>

{% endblock content %}
